@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  /* position: absolute; */
  /* left: 50%;
  transform: translateX(-50%); */
  /* white-space: nowrap; */
  width: 100%;
  text-align: center;
}

.logo {
  font-size: 1.2rem;
  z-index: 2;
  position: fixed;
  color: #f9d3c2;
  padding: 0.3rem;
  background-color: rgba(255, 255, 255, 0.975);
}

.signup {
  background-color: black;
  padding-bottom: 3rem;
  position: relative;
}

.signup img {
  width: 100%;
  object-fit: cover;
  transform: translateY(3.5rem);
  opacity: 75%;
}

.signup-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  top: 4rem;
}

.signup-text h2 {
  font-size: 1.7rem;
}

.intro-text {
  /* margin-top: 25%; */
  text-align: center;
  font-weight: 800;
  /* font-size: 1.5rem; */
  color: white;
}

.intro-text a {
  z-index: 6;
  color: rgb(255, 238, 238);
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  border: 0.165rem solid #f9d3c2;
  padding: 1rem;
  border-radius: 3.2rem;
  /* margin-top: 15%; */
}
.intro-text a:hover {
  border: 0.185rem solid white;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;1
}

@keyframes glow {
  from {
    text-shadow:
                 0 0 7px #f4feffb7;
  }
  to {
    text-shadow: 0 0 8px #e8fcffa7;
  }
}

.clean{
  color:  #f9d3c2;
}

.intro-p{
  color: white;
  font-weight: 400;
  font-size: 0.9rem;

}

.no-ques{
  font-weight: 500;
}

/***** Slide Left *****/
.slide-left {
  width: 100%;
  animation: 2s slide-left;
}
@keyframes slide-left {
  from {
    transform: rotate(45deg);
    margin-top: 50%;
    margin-left: 100%;
  }
  to {
    transform: rotate(0deg);
    margin-top: 0%;
    margin-left: 0%;
  }
}

/* Fade in */

.fade-in {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn{
  0% {
    margin-top: 30%;
    opacity:0;
  }
  100% {
    margin-top: 0;
    bottom: 0;
    opacity:1;
  }
}

.fade-in-late {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.fade-in-late-late{
  animation: fadeIn ease-in 8s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.mrg {
  margin: 0.86rem 0;
}

.sticky{
  font-size: 2rem;
  color: #f9d3c2;
  background-color: white;
  width: 100%;
  text-align: center;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  padding-bottom: 1rem;
}

.logos{
display: flex;
align-items: center;
justify-content: space-around;
}
.logot{
  width: 80px;
  height: 80px;
}

.logot img{
  width: 100%;
  object-fit: cover;
}

.site-text{
  color: #4d4d4f;
  text-align: center;
  margin: 0.8rem 1rem;
}

.fa-solid{
  font-size: 2.4rem;
  padding: 0 0.8rem;
  color: #4d4d4f;
}

.fa-quote-right{
  float: right;
}

.free a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  color: white;
  background-color: #25d366;
  padding: 1rem;
  border-radius: 1.4rem;

}




/* Results  */

.results{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.result-text{
  margin: 0.6rem auto;
  margin-bottom: 0;
  color: #f9d3c2;
  font-size: 2rem;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 3.5rem;
  align-self: flex-start; /* <-- this is the fix */
  background-color:rgba(255, 255, 255, 0.975);
  width: 100%;
  align-items: center;
 

}
.post{
  width: 360px;
  height: 400px;
  margin: 1.5rem auto;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.post1{
  margin-top: 0.5rem;
}

.number-client{
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.five{
  font-size: 3rem;
}







/* Media Quaries */

@media only screen and (max-width: 768px) {  
  body{
    overflow-x: hidden;
  }
  .signup-text{
    transform: translateY(12%);
    scale: 120%;
  }
  .signup, .signup img {
    height: 50vh;
  }  
  
}


@media only screen and (min-width: 768px) { 
  .signup-text{
    scale: 150%;
    transform: translateY(30%);
  }
  .mrg{
    margin: 2rem;
  }
  .allpost{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    min-width: none;
    flex-wrap: wrap;
   }
   .post{
    margin: 2.5rem;
    margin-top: 1rem;
   }
   .logot{
    width: 200px;
    height: 200px;
   }
  }